.schedule-add-container {
  width: 70%;
  height: 15em;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5em;
  box-shadow: 1px 1px 1px black;
}

.schedule-add-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.schedule-add-c-top {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.schedule-add-time-input {
  width: 3em;
  display: inline-block;
}

.schedule-add-time-text {
  width: 3em;
  display: inline-block;
}

.schedule-add-c-mid {
  padding-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.schedule-add-c-bottom {
  white-space: nowrap;
  height: 3em;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid black;
}

.schedule-add-cc-bottom {
  text-align: right;
}

.schedule-add-cb-left {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  display: inline-block;
  border-right: 1px solid black;
}

.schedule-add-cb-right {
  width: 50%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.schedule-add-cb-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}