.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  white-space: nowrap;
}

.main-content {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.main-content-left {

}

.main-content-right {

}

.mc-r-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: green;
}

.mc-r-bottom {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  background-color: yellow;
}

.main-timer-container {
  position: absolute;
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-timer-button-container {
  position: absolute;
  bottom: 5%;

}

.tm-button-mid {
  left: 50%;
  transform: translateX(-50%);
}

.tm-button-left {
  position: absolute;
  left: 10%;
}

.tm-button-right {
  position: absolute;
  right: 10%;
}

.main-score {
  position: absolute;
  font-size: 4em;
}

.ms-sub-score {
  font-size: 2em;
}

.ms-left {
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.ms-sub-left-left {
  top: 72.5%;
  left: 45%;
  color: blue;
  transform: translate(-50%, -50%);
}

.ms-sub-left-right {
  top: 72.5%;
  left: 65%;
  color: red;
  transform: translate(-50%, -50%);
}

.ms-right {
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.ms-sub-right-left {
  top: 72.5%;
  left: 35%;
  color: blue;
  transform: translate(-50%, -50%);
}

.ms-sub-right-right {
  top: 72.5%;
  left: 55%;
  color: red;
  transform: translate(-50%, -50%);
}

.mc-score-right {
  text-align: right;
}

.mc-score-text-top {
  margin-top: 1em;
}

.score-text-container {
  top: 1em;
  left: 10%;
  position: absolute;
}

.score-text-container-right {
  left: initial;
  right: 10%;
}

.mc-st-section {
  margin-top: .5em;
}

.mc-st-last {
  margin-top: .3em;
}

.ad-text-color {
  color: blue;
}

.pt-text-color {
  color: red;
}

.main-round-container {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
}

.tm-button-first {
  left: 5%;
}

.tm-button-second {
  left: 17%;
}

.tm-button-third {
  left: 30%;
}

.tm-button-fourth {
  right: 35%;
}

.tm-button-fifth {
  right: 16%;
}

.tm-button-sixth {
  right: 3%;
}

.main-active-rest-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.none-has-round-text {
  font-size: 2em;
  font-weight: bolder;
}

.main-repeat-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

